<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.dtechsystem.carefer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="co.dtechsystem.carefer.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="co.dtechsystem.carefer.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".Google.Analytics.AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.MobileNumActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.Activities.MobileNumVerifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".UI.Activities.ChangeNumActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
             />

        <activity
            android:name=".UI.Activities.CareferPolicyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.Activities.OrderSuccessActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UI.Activities.MyDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:isScrollContainer="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <!--<activity-->
            <!--android:name=".UI.Activities.MyDetailsActivityView"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:isScrollContainer="true"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustResize|stateHidden"-->
            <!--/>-->

        <activity
            android:name=".UI.Activities.ShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ShopsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ShopDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ShopDetailsOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.OrderNowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.NavigationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".UI.Activities.RatingActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name=".UI.Activities.MyOrdersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.FavouriteShopsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".UI.Activities.AboutCareferActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".UI.Activities.ContactUsActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--tools:ignore="InnerclassSeparator" />-->
        <activity
            android:name=".UI.Activities.FiltersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ReviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.Activities.NoInternetConnection"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.Activities.enableLocation"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.MovedShopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ReceiveCarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- Firebase Notifications -->
        <service android:name=".Google.FCM.CareferFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Google.FCM.CareferFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Google Api Key for google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- end api key -->


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name=".UI.Activities.ShopDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UI.Activities.OrderDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />
        <!-- fabric metadata -->
        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="aa6208b60fae6870747b02c3f26bb999fd290c04" /> -->

    </application>

</manifest>